.sidePanel{
    position: fixed;
    z-index: 999999;
    background-size: cover;
    left: -3px;
    background: #212121;
    transition: all 1.5s;
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}
.exitButton{
    position: relative;
    top:50px;
    left:350px;
    border:none;
    background: none;
}
